.App {
  text-align: center;
}

.link {
  margin: 1rem;
  color: rgb(18, 99, 2);
  font-weight: 700;
  text-decoration: none;
}

.container {
  border: solid 2px rgb(114, 114, 114);
  background-color: rgb(207, 207, 207);
  color: black;
  margin: 3rem auto;
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
}

.input {
  display: flex;
  justify-content: space-between;
}

.loan-detail-container {
  text-align: left;
  border: solid 1px black; 
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(233, 233, 233);
}

.loan-detail {
  margin: 0.2rem 0;
}
